---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/teams/176692/groups/515/projects/add
    body:
      encoding: UTF-8
      string: '{"projects":["446952185c01a12b4d0b45.76217122"]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":515,"name":"Demo","permissions":{"is_admin":true,"is_reviewer":false,"admin_rights":["upload","download","tasks","contributors","screenshots","keys","languages","settings","activity","statistics"],"languages":[]},"created_at":"2019-03-19
        19:53:04 (Etc\/UTC)","created_at_timestamp":1553025184,"team_id":176692,"projects":["446952185c01a12b4d0b45.76217122","803826145ba90b42d5d860.46800099"],"members":[20181,25753]}}'
  recorded_at: Sun, 19 May 2019 15:24:02 GMT
recorded_with: VCR 4.0.0
