---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '5'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"project_id":"803826145ba90b42d5d860.46800099","name":"demo
        phoenix","description":"","created_at":"2018-09-24 18:05:22 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":33,"keys":1,"team":1,"base_words":1,"qa_issues":1,"languages":[{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":1},{"language_id":673,"language_iso":"f_over","progress":0,"words_to_do":1}]}},{"project_id":"547879415c01a0e6e0b855.29978928","name":"demo
        phoenix copy","description":"","created_at":"2018-11-30 20:43:18 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":0,"keys":1,"team":1,"base_words":0,"qa_issues":1,"languages":[{"language_id":640,"language_iso":"en"[...]
