---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/payment_cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"user_id":20181,"payment_cards":[{"card_id":1774,"last4":"0358","brand":"Visa","created_at":"2019-03-19
        17:49:07 (Etc\/UTC)"}]}'
  recorded_at: Tue, 19 Mar 2019 17:51:15 GMT
recorded_with: VCR 4.0.0
