---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/translation_providers?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '2'
      x-pagination-page-count:
      - '2'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"translation_providers":[{"provider_id":4,"name":"Lokalise","slug":"lokalise","price_pair_min":"10.00","website_url":"https:\/\/lokalise.co","description":"Our
        native professional translations are experts in mobile app, software, e-learning,
        website, multimedia and game localization. Translations in over 90 languages
        are available.\n<br><br>\nReach out for our translation managers in our in-web
        support chat. They will guide you through.\n<br><br>\n<strong>Lifetime quality
        guarantee<\/strong> applies."}]}'
  recorded_at: Wed, 20 Mar 2019 16:44:06 GMT
recorded_with: VCR 4.0.0
