---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '2'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","snapshots":[{"snapshot_id":27881,"title":"test","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2018-12-10
        17:01:48 (Etc\/UTC)"},{"snapshot_id":27882,"title":"test rspec","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2018-12-10
        17:02:04 (Etc\/UTC)"}]}'
  recorded_at: Mon, 10 Dec 2018 17:03:15 GMT
recorded_with: VCR 4.0.0
