---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_rtl":false,"plural_forms":["one","other"]},{"lang_id":673,"lang_iso":"f_over","lang_name":"fr
        overriden","is_rtl":false,"plural_forms":["one","few"]},{"lang_id":597,"lang_iso":"ru","lang_name":"Russian","is_rtl":false,"plural_forms":["one","few","many","other"]}]}'
  recorded_at: Sun, 09 Dec 2018 18:23:54 GMT
recorded_with: VCR 4.0.0
