---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '3'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"project_id":"672198945b7d72fc048021.15940510","name":"Demo
        Rails Proj","description":"","created_at":"2018-08-22 16:28:12 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":95,"keys":10,"team":1,"base_words":38,"qa_issues":11,"languages":[{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":90,"words_to_do":1}]}}]}'
  recorded_at: Mon, 19 Nov 2018 14:54:35 GMT
recorded_with: VCR 4.0.0
