---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '4'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
      x-lokalise-process-id:
      - 5ffa6d6b-92e4-472f-aa11-8fd48fbd7809
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","branches":[{"branch_id":14699,"name":"master","created_at":"2018-09-24
        16:05:22 (Etc\/UTC)","created_at_timestamp":1537805122,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"},{"branch_id":68628,"name":"merge-it","created_at":"2020-07-07
        10:34:00 (Etc\/UTC)","created_at_timestamp":1594118040,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"},{"branch_id":42301,"name":"merge-me","created_at":"2019-11-13
        12:26:20 (Etc\/UTC)","created_at_timestamp":1573647980,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"},{"branch_id":42303,"name":"node-merge","created_at":"2019-11-13
        12:53:50 (Etc\/UTC)","created_at_timestamp":1573649630,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}]}'
  recorded_at: Tue, 01 Feb 2022 17:29:15 GMT
recorded_with: VCR 6.0.0
