---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branches":[{"branch_id":41302,"name":"ruby-branch","created_at":"2019-10-30
        14:24:41 (Etc\/UTC)","created_at_timestamp":1572445481,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}]}'
  recorded_at: Wed, 30 Oct 2019 14:34:34 GMT
recorded_with: VCR 5.0.0
