---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys?limit=1&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","keys":[{"key_id":15305182,"created_at":"2018-12-03
        19:11:30 (Etc\/UTC)","key_name":{"ios":"test","android":"test","web":"test","other":"test"},"filenames":{"ios":"","android":"","web":"rspec.yml","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":1,"char_limit":0,"custom_attributes":""}]}'
  recorded_at: Sun, 09 Dec 2018 17:56:15 GMT
recorded_with: VCR 4.0.0
