---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/orders?limit=1&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"orders":[{"order_id":"201903198B2","project_id":"803826145ba90b42d5d860.46800099","card_id":"1774","status":"in
        progress","created_at":"2019-03-19 18:18:21 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru"],"keys":[15519786],"source_words":{"ru":1},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Some briefing","total":0.07}]}'
  recorded_at: Tue, 19 Mar 2019 18:21:59 GMT
recorded_with: VCR 4.0.0
