---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/screenshots?limit=1&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","screenshots":[{"screenshot_id":115185,"title":"rspec
        screen","description":"","screenshot_tags":[],"url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/screenshots\/803826145ba90b42d5d860.46800099\/29b5bdb9c85bc973e3ada5c7a2f10f762232e8ea.jpg","key_ids":[],"width":125,"height":32}]}'
  recorded_at: Mon, 10 Dec 2018 16:47:00 GMT
recorded_with: VCR 4.0.0
