---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '8'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","keys":[{"key_id":44596059,"created_at":"2020-05-11
        11:20:33 (Etc\/UTC)","created_at_timestamp":1589196033,"key_name":{"ios":"activerecord:attributes:feedback:message","android":"activerecord:attributes:feedback:message","web":"activerecord:attributes:feedback:message","other":"activerecord:attributes:feedback:message"},"filenames":{"ios":"","android":"","web":"%LANG_ISO%.yml","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":true,"is_archived":false,"context":"","base_words":1,"char_limit":0,"custom_attributes":"","modified_at":"2020-05-11
        11:20:33 (Etc\/UTC)","modified_at_timestamp":1589196033,"translations_modified_at":"2020-05-15
        10:44:42 (Etc\/UTC)","translations_modified_at_timestamp":1589539482},{"key_id":44596060,"created_at":"2020-05-11
        11:20:33 (Etc\/UTC)","created_at_timestamp":1589196033,"key_name":{"ios":"global:forms:messages:errors","android":"global:forms:messages:errors","web":"global:forms:messages:errors","other":"global:forms:messages:errors"},"filenames":{"ios":"","android":"","web":"%LANG_ISO%.yml","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":true,"plural_name":"","is_hidden":true,"is_archived":false,"context":"","base_words":[...]
