---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/system/languages?limit=10&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '618'
      x-pagination-page-count:
      - '62'
      x-pagination-limit:
      - '10'
      x-pagination-page:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"languages":[{"lang_id":725,"lang_iso":"ar_QA","lang_name":"Arabic
        (Qatar)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":726,"lang_iso":"ar_SA","lang_name":"Arabic
        (Saudi Arabia)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":727,"lang_iso":"ar_SD","lang_name":"Arabic
        (Sudan)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":728,"lang_iso":"ar_SY","lang_name":"Arabic
        (Syria)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":729,"lang_iso":"ar_TN","lang_name":"Arabic
        (Tunisia)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":730,"lang_iso":"ar_AE","lang_name":"Arabic
        (United Arab Emirates)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":731,"lang_iso":"ar_001","lang_name":"Arabic
        (World)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":732,"lang_iso":"ar_YE","lang_name":"Arabic
        (Yemen)","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":831,"lang_iso":"an","lang_name":"Aragonese","is_rtl":false,"plural_forms":null},{"lang_id":810,"lang_iso":"hy","lang_name":"Armenian","is_rtl":false,"plural_forms":["one","other"]}]}'
  recorded_at: Sun, 09 Dec 2018 18:23:54 GMT
recorded_with: VCR 4.0.0
