---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/keys/15305182/comments?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '3'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","comments":[{"comment_id":800631,"key_id":15305182,"comment":"demo
        comment","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2018-12-07
        16:48:51 (Etc\/UTC)"}]}'
  recorded_at: Fri, 07 Dec 2018 15:56:03 GMT
recorded_with: VCR 4.0.0
