---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/custom_translation_statuses?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '3'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","custom_translation_statuses":[{"status_id":126,"title":"Reviewed
        by doctors","color":"#f2d600"}]}'
  recorded_at: Wed, 17 Jul 2019 16:25:33 GMT
recorded_with: VCR 5.0.0
