---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/webhooks?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '3'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","webhooks":[{"webhook_id":"c7eb7e6e3c2fb2b26d0b64d0de083a5a71675b3d","url":"https:\/\/canihaz.hook","secret":"a62450cd9eeca8dfc84f3c0cf9b7a6a370267d6f","events":["project.snapshot","project.imported","project.exported","project.languages.added","project.language.removed","project.language.settings_changed","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["sq","ar_001","bm","ca","custom_1","nl","en","en-us","f_over","ru","es"]}]}]}'
  recorded_at: Wed, 21 Aug 2019 12:03:23 GMT
recorded_with: VCR 5.0.0
