---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '5'
      x-pagination-page-count:
      - '5'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"project_id":"547879415c01a0e6e0b855.29978928","name":"demo
        phoenix copy","description":"","created_at":"2018-11-30 20:43:18 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":0,"keys":1,"team":1,"base_words":0,"qa_issues":1,"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":0},{"language_id":673,"language_iso":"f_over","progress":0,"words_to_do":0}]}}]}'
  recorded_at: Mon, 03 Dec 2018 19:26:01 GMT
recorded_with: VCR 4.0.0
