---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/processes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","processes":[{"process_id":"4191a4e54cb6433193e75eed55359c4021e6aa91","type":"file-import","status":"finished","message":"","created_by":"20181","created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-11
        11:17:52 (Etc\/UTC)","created_at_timestamp":1589195872,"url":"\/api2\/projects\/803826145ba90b42d5d860.46800099\/processes\/file-import\/4191a4e54cb6433193e75eed55359c4021e6aa91"},{"process_id":"98638f68d5ea6b3bc63947eeb5891ad467a4fcb8","type":"file-import","status":"finished","message":"","created_by":"20181","created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-11
        11:20:32 (Etc\/UTC)","created_at_timestamp":1589196032,"url":"\/api2\/projects\/803826145ba90b42d5d860.46800099\/processes\/file-import\/98638f68d5ea6b3bc63947eeb5891ad467a4fcb8"}]}'
  recorded_at: Mon, 11 May 2020 11:20:52 GMT
recorded_with: VCR 5.1.0
