---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches?limit=2&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '4'
      x-pagination-page-count:
      - '2'
      x-pagination-limit:
      - '2'
      x-pagination-page:
      - '2'
      x-lokalise-process-id:
      - af549ecd-456c-4fa6-8af8-470e8461980d
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","branches":[{"branch_id":42301,"name":"merge-me","created_at":"2019-11-13
        12:26:20 (Etc\/UTC)","created_at_timestamp":1573647980,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"},{"branch_id":42303,"name":"node-merge","created_at":"2019-11-13
        12:53:50 (Etc\/UTC)","created_at_timestamp":1573649630,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}]}'
  recorded_at: Tue, 01 Feb 2022 17:30:07 GMT
recorded_with: VCR 6.0.0
