---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/teams/176692/translation_providers?limit=2&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '2'
      x-pagination-limit:
      - '2'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"translation_providers":[{"provider_id":1,"name":"Gengo","slug":"gengo","price_pair_min":"0.00","website_url":"https:\/\/gengo.com","description":"At
        Gengo, our mission is to provide language services to everyone and connect
        a global community. Our network of over 18,000 translators are tested and
        qualified to meet stringent project standards. Translators are based around
        the world and in every timezone, which enables us to support over 35 languages
        and work towards the Gengo mission."}]}'
  recorded_at: Tue, 19 Mar 2019 17:56:23 GMT
recorded_with: VCR 4.0.0
