---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/translation_providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '2'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"translation_providers":[{"provider_id":1,"name":"Gengo","slug":"gengo","price_pair_min":"0.00","website_url":"https:\/\/gengo.com","description":"At
        Gengo, our mission is to provide language services to everyone and connect
        a global community. Our network of over 18,000 translators are tested and
        qualified to meet stringent project standards. Translators are based around
        the world and in every timezone, which enables us to support over 35 languages
        and work towards the Gengo mission."},{"provider_id":4,"name":"Lokalise","slug":"lokalise","price_pair_min":"10.00","website_url":"https:\/\/lokalise.co","description":"Our
        native professional translations are experts in mobile app, software, e-learning,
        website, multimedia and game localization. Translations in over 90 languages
        are available.\n<br><br>\nReach out for our translation managers in our in-web
        support chat. They will guide you through.\n<br><br>\n<strong>Lifetime quality
        guarantee<\/strong> applies."}]}'
  recorded_at: Wed, 20 Mar 2019 15:25:52 GMT
recorded_with: VCR 4.0.0
