---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/keys?limit=2&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '8'
      x-pagination-page-count:
      - '4'
      x-pagination-limit:
      - '2'
      x-pagination-page:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","keys":[{"key_id":44596063,"created_at":"2020-05-11
        11:20:33 (Etc\/UTC)","created_at_timestamp":1589196033,"key_name":{"ios":"global:menu:feedback","android":"global:menu:feedback","web":"global:menu:feedback","other":"global:menu:feedback"},"filenames":{"ios":"","android":"","web":"%LANG_ISO%.yml","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":true,"is_archived":false,"context":"","base_words":1,"char_limit":0,"custom_attributes":"","modified_at":"2020-05-11
        11:20:33 (Etc\/UTC)","modified_at_timestamp":1589196033,"translations_modified_at":"2020-05-15
        10:44:42 (Etc\/UTC)","translations_modified_at_timestamp":1589539482},{"key_id":44596064,"created_at":"2020-05-11
        11:20:33 (Etc\/UTC)","created_at_timestamp":1589196033,"key_name":{"ios":"feedbacks:new:title","android":"feedbacks:new:title","web":"feedbacks:new:title","other":"feedbacks:new:title"},"filenames":{"ios":"","android":"","web":"%LANG_ISO%.yml","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":true,"is_archived":false,"context":"","base_words":1,"char_limit":0,"custom_attributes":"","modified_at":"2020-05-11
        11:20:33 (Etc\/UTC)","modified_at_timestamp":1589196033,"translations_modified_at":"2020-05-15
        10:44:42 (Etc\/UTC)","translations_modified_at_timestamp":1589539482}]}'
  recorded_at: Fri, 26 Jun 2020 11:52:31 GMT
recorded_with: VCR 6.0.0
