---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/users?limit=1&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '4'
      x-pagination-page-count:
      - '4'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"team_users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya","created_at":"2018-08-21
        17:35:25 (Etc\/UTC)","role":"owner"}]}'
  recorded_at: Mon, 10 Dec 2018 17:51:05 GMT
recorded_with: VCR 4.0.0
