---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/users/26265
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"team_user":{"user_id":26265,"email":"demo@test.com","fullname":"updated!","created_at":"2018-12-13
        17:22:21 (Etc\/UTC)","role":"member"}}'
  recorded_at: Fri, 14 Dec 2018 17:35:54 GMT
recorded_with: VCR 4.0.0
