---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys/15519786/comments/800746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","comment":{"comment_id":800746,"key_id":15519786,"comment":"rspec
        comment","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2018-12-09
        18:41:44 (Etc\/UTC)","added_at_timestamp":1544380904}}'
  recorded_at: Fri, 17 May 2019 16:58:45 GMT
recorded_with: VCR 4.0.0
