---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/contributors/20181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","contributor":{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya","created_at":"2018-08-21
        17:35:25 (Etc\/UTC)","is_admin":true,"is_reviewer":true,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":true},{"lang_id":673,"lang_iso":"f_over","lang_name":"fr
        overriden","is_writable":true},{"lang_id":597,"lang_iso":"ru","lang_name":"Russian","is_writable":true}],"admin_rights":["upload","download","tasks","contributors","screenshots","keys","languages","settings","activity","statistics"]}}'
  recorded_at: Fri, 07 Dec 2018 17:14:08 GMT
recorded_with: VCR 4.0.0
