---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys/
    body:
      encoding: UTF-8
      string: '{"keys":[{"key_name":"rspec_k","platforms":["ios"]}]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","keys":[{"key_id":15519770,"created_at":"2018-12-09
        19:02:48 (Etc\/UTC)","key_name":{"ios":"rspec_k","android":"rspec_k","web":"rspec_k","other":"rspec_k"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["ios"],"tags":[],"comments":[],"screenshots":[],"translations":[{"translation_id":79607515,"key_id":15519770,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-09
        19:02:48 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":79607514,"key_id":15519770,"language_iso":"en","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-09
        19:02:48 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":79607516,"key_id":15519770,"language_iso":"f_over","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-09
        19:02:48 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0}],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":0,"char_limit":0,"custom_attributes":""}],"errors":[]}'
  recorded_at: Sun, 09 Dec 2018 18:02:48 GMT
recorded_with: VCR 4.0.0
