---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/snapshots/
    body:
      encoding: UTF-8
      string: '{"title":"chained"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","snapshot":{"snapshot_id":28533,"title":"chained","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2018-12-14
        17:02:08 (Etc\/UTC)"}}'
  recorded_at: Fri, 14 Dec 2018 17:02:01 GMT
recorded_with: VCR 4.0.0
