---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/languages
    body:
      encoding: UTF-8
      string: '{"languages":[{"lang_iso":"ab","custom_name":"chained lang"}]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","languages":[{"lang_id":894,"lang_iso":"ab","lang_name":"chained
        lang","is_rtl":false,"plural_forms":null}],"errors":[]}'
  recorded_at: Fri, 14 Dec 2018 16:48:58 GMT
recorded_with: VCR 4.0.0
