---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys/
    body:
      encoding: UTF-8
      string: '{"keys":[{"key_name":"key_collect1","platforms":["ios"]},{"key_name":"key_collect2","platforms":["ios"]}]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","keys":[{"key_id":15815825,"created_at":"2018-12-14
        17:51:01 (Etc\/UTC)","key_name":{"ios":"key_collect1","android":"key_collect1","web":"key_collect1","other":"key_collect1"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["ios"],"tags":[],"comments":[],"screenshots":[],"translations":[{"translation_id":82074428,"key_id":15815825,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:01 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82074427,"key_id":15815825,"language_iso":"en","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:01 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82074429,"key_id":15815825,"language_iso":"f_over","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:01 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0}],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":0,"char_limit":0,"custom_attributes":""},{"key_id":15815826,"created_at":"2018-12-14
        17:51:02 (Etc\/UTC)","key_name":{"ios":"key_collect2","android":"key_collect2","web":"key_collect2","other":"key_collect2"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["ios"],"tags":[],"comments":[],"screenshots":[],"translations":[{"translation_id":82074431,"key_id":15815826,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:02 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82074430,"key_id":15815826,"language_iso":"en","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:02 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82074432,"key_id":15815826,"language_iso":"f_over","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        17:51:02 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0}],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":0,"char_limit":0,"custom_attributes":""}],"errors":[]}'
  recorded_at: Fri, 14 Dec 2018 17:50:54 GMT
recorded_with: VCR 4.0.0
