---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/custom_translation_statuses
    body:
      encoding: UTF-8
      string: '{"title":"Reviewed by doctors","color":"#f2d600"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","custom_translation_status":{"status_id":126,"title":"Reviewed
        by doctors","color":"#f2d600"}}'
  recorded_at: Wed, 17 Jul 2019 16:22:26 GMT
recorded_with: VCR 5.0.0
