---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/teams/176692/orders/
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","card_id":1774,"briefing":"Some
        briefing","source_language_iso":"en","target_language_isos":["ru"],"keys":[15519786],"provider_slug":"gengo","translation_tier":"1"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"order_id":"201903198B2","project_id":"803826145ba90b42d5d860.46800099","card_id":1774,"status":"in
        progress","created_at":"2019-03-19 18:18:21 (Etc\/UTC)","created_by":"20181","created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru"],"keys":[15519786],"source_words":{"ru":1},"provider_slug":"gengo","translation_tier":"1","translation_tier_name":"Native
        speaker","briefing":"Some briefing","total":0.07,"dry_run":false}'
  recorded_at: Tue, 19 Mar 2019 18:18:20 GMT
recorded_with: VCR 4.0.0
