---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/custom_translation_statuses
    body:
      encoding: UTF-8
      string: '{"title":"rspec","color":"#c377e0"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","custom_translation_status":{"status_id":129,"title":"rspec","color":"#c377e0"}}'
  recorded_at: Wed, 17 Jul 2019 16:56:19 GMT
recorded_with: VCR 5.0.0
