---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects
    body:
      encoding: UTF-8
      string: '{"name":"chained proj"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"186050335c13d673e9c638.47201999","name":"chained proj","description":"","created_at":"2018-12-14
        16:12:35 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":0,"keys":0,"team":1,"base_words":0,"qa_issues":0,"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0}]}}'
  recorded_at: Fri, 14 Dec 2018 16:12:28 GMT
recorded_with: VCR 4.0.0
