---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/teams/176692/groups
    body:
      encoding: UTF-8
      string: '{"name":"RSpec group","is_reviewer":false,"is_admin":false,"languages":{"reference":[],"contributable":[640]}}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":690,"name":"RSpec group","permissions":{"is_admin":false,"is_reviewer":false,"admin_rights":[],"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":true}]},"created_at":"2019-05-19
        13:21:20 (Etc\/UTC)","created_at_timestamp":1558272080,"team_id":176692,"projects":[],"members":[]}}'
  recorded_at: Sun, 19 May 2019 13:21:20 GMT
recorded_with: VCR 4.0.0
