---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys/15519786/comments
    body:
      encoding: UTF-8
      string: '{"comments":[{"comment":"chained comment"}]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","comments":[{"comment_id":802031,"key_id":15519786,"comment":"chained
        comment","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2018-12-13
        17:59:09 (Etc\/UTC)"}]}'
  recorded_at: Thu, 13 Dec 2018 17:59:02 GMT
recorded_with: VCR 4.0.0
