---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/groups/2500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"group_id":2500,"name":"RSpec group","permissions":{"is_admin":false,"is_reviewer":false,"admin_rights":[],"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":true}]},"created_at":"2020-06-26
        13:08:21 (Etc\/UTC)","created_at_timestamp":1593176901,"team_id":176692,"projects":[],"members":[]}'
  recorded_at: Fri, 26 Jun 2020 13:08:12 GMT
recorded_with: VCR 6.0.0
