---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"http://thatz.ahook","events":["project.imported","project.exported"]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","webhook":{"webhook_id":"b345ccc6499920c490e8f4fe9487b1378dbf1dbf","url":"http:\/\/thatz.ahook","secret":"fd3a2ceab9e2e9d4f68f40b7c199a273e19492f8","events":["project.imported","project.exported"],"event_lang_map":[]}}'
  recorded_at: Mon, 19 Aug 2019 19:59:25 GMT
recorded_with: VCR 5.0.0
