---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/teams/176692/orders
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","card_id":1774,"briefing":"Some
        briefing","source_language_iso":"en","target_language_isos":["ru"],"keys":[74189435],"provider_slug":"gengo","translation_tier":"1","dry_run":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"order_id":null,"project_id":"803826145ba90b42d5d860.46800099","branch":"master","card_id":1774,"payment_method":"credit_card","status":"draft","created_at":"2021-02-26
        15:30:01 (Etc\/UTC)","created_at_timestamp":1614353401,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru"],"keys":["74189435"],"source_words":{"ru":2},"provider_slug":"gengo","translation_tier":"1","translation_tier_name":"Native
        speaker","briefing":"Some briefing","total":0.14,"dry_run":true}'
  recorded_at: Fri, 26 Feb 2021 15:30:01 GMT
recorded_with: VCR 6.0.0
