---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/teams/273879/billing_details
    body:
      encoding: UTF-8
      string: '{"billing_email":"ruby@example.com","country_code":"LV","zip":"LV-1111"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
      x-lokalise-process-id:
      - e0200745-acdf-4e1c-a6e9-8bc7558dcc1f
    body:
      encoding: ASCII-8BIT
      string: '{"company":"","address1":"","address2":"","city":"","zip":"LV-1111","phone":"","vatnumber":null,"country_code":"LV","billing_email":"ruby@example.com","state_code":""}'
  recorded_at: Wed, 15 Dec 2021 19:38:21 GMT
recorded_with: VCR 6.0.0
