---
http_interactions:
- request:
    method: delete
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/keys
    body:
      encoding: UTF-8
      string: '{"keys":[15815825,15815826]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","keys_removed":true}'
  recorded_at: Fri, 14 Dec 2018 17:51:00 GMT
recorded_with: VCR 4.0.0
