---
http_interactions:
- request:
    method: delete
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches/41306
    body:
      encoding: UTF-8
      string: '{"_initial_path":"projects/803826145ba90b42d5d860.46800099/branches/41306"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch_deleted":true}'
  recorded_at: Wed, 30 Oct 2019 14:47:04 GMT
recorded_with: VCR 5.0.0
