---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/files/download
    body:
      encoding: UTF-8
      string: '{"format":"po","original_filenames":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","bundle_url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/export\/803826145ba90b42d5d860.46800099\/1544376921\/demo_phoenix-locale.zip"}'
  recorded_at: Sun, 09 Dec 2018 17:35:21 GMT
recorded_with: VCR 4.0.0
