---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/invalid_path
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Not Found","code":404}}'
  recorded_at: Mon, 19 Nov 2018 15:30:00 GMT
recorded_with: VCR 4.0.0
