---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/123.45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid `project_id` parameter","code":400}}'
  recorded_at: Mon, 19 Nov 2018 15:30:00 GMT
recorded_with: VCR 4.0.0
