---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/129358815/segments/en/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":129358815,"language_iso":"en","segment":{"segment_number":2,"language_iso":"en","value":"This
        is just a simple text.","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-11-22
        16:46:50 (Etc\/UTC)","modified_at_timestamp":1637599610,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":6,"custom_translation_statuses":[{"status_id":5734,"title":"context","color":"#61bd4f"}]}}'
  recorded_at: Mon, 22 Nov 2021 16:46:58 GMT
recorded_with: VCR 6.0.0
