---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/languages/640
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","language":{"lang_id":640,"lang_iso":"en","lang_name":"English","is_rtl":false,"plural_forms":["one","other"]}}'
  recorded_at: Sun, 09 Dec 2018 18:29:08 GMT
recorded_with: VCR 4.0.0
