---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches/42301/merge
    body:
      encoding: UTF-8
      string: '{"force_conflict_resolve_using":"master"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch_merged":true,"branch":{"branch_id":42301,"name":"merge-me","created_at":"2019-11-13
        12:26:20 (Etc\/UTC)","created_at_timestamp":1573647980,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}}'
  recorded_at: Wed, 13 Nov 2019 12:37:26 GMT
recorded_with: VCR 5.0.0
