---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/payment_cards
    body:
      encoding: UTF-8
      string: '{"number":"4242424242424242","cvc":"123","exp_month":1,"exp_year":2030}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"card_id":1773,"last4":"4242","brand":"Visa","created_at":"2019-03-19
        17:01:22 (Etc\/UTC)"}'
  recorded_at: Tue, 19 Mar 2019 17:01:20 GMT
recorded_with: VCR 4.0.0
