---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/teams/176692/orders/201903198B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"order_id":"201903198B2","project_id":"803826145ba90b42d5d860.46800099","branch":null,"payment_method":null,"card_id":1774,"status":"completed","created_at":"2019-03-19
        18:18:21 (Etc\/UTC)","created_at_timestamp":1553019501,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru"],"keys":[15519786],"source_words":{"ru":1},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Some briefing","total":0.07}'
  recorded_at: Fri, 26 Feb 2021 14:43:25 GMT
recorded_with: VCR 6.0.0
