---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/payment_cards/1773
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user_id":20181,"payment_card":{"card_id":1773,"last4":"4242","brand":"Visa","created_at":"2019-03-19
        17:01:22 (Etc\/UTC)"}}'
  recorded_at: Tue, 19 Mar 2019 17:41:21 GMT
recorded_with: VCR 4.0.0
