---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","name":"demo phoenix","description":"","created_at":"2018-09-24
        18:05:22 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":33,"keys":1,"team":1,"base_words":1,"qa_issues":1,"languages":[{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":1},{"language_id":673,"language_iso":"f_over","progress":0,"words_to_do":1}]}}'
  recorded_at: Mon, 03 Dec 2018 19:35:38 GMT
recorded_with: VCR 4.0.0
