---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/processes/3b943469e6b3e324b5bdad639b122a623e6e7a1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"3b943469e6b3e324b5bdad639b122a623e6e7a1a","type":"file-import","status":"finished","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-13
        11:24:37 (Etc\/UTC)","created_at_timestamp":1589369077,"details":{"files":[{"status":"finished","message":"","name_original":"test_async.json","name_custom":null,"word_count_total":3,"key_count_total":3,"key_count_inserted":1,"key_count_updated":0,"key_count_skipped":2}]}}}'
  recorded_at: Fri, 15 May 2020 10:46:57 GMT
recorded_with: VCR 5.1.0
