---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/teams/176692/groups/689/projects/remove
    body:
      encoding: UTF-8
      string: '{"projects":["446952185c01a12b4d0b45.76217122"]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":689,"name":"Second Group","permissions":{"is_admin":false,"is_reviewer":false,"admin_rights":[],"languages":[]},"created_at":"2019-05-19
        13:14:25 (Etc\/UTC)","created_at_timestamp":1558271665,"team_id":176692,"projects":[],"members":[35554]}}'
  recorded_at: Sun, 19 May 2019 14:45:44 GMT
recorded_with: VCR 4.0.0
