---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/teams/176692/groups/689/members/remove
    body:
      encoding: UTF-8
      string: '{"users":[35554]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":689,"name":"Second Group","permissions":{"is_admin":false,"is_reviewer":false,"admin_rights":[],"languages":[]},"created_at":"2019-05-19
        13:14:25 (Etc\/UTC)","created_at_timestamp":1558271665,"team_id":176692,"projects":["605317925c13e4ecb36a79.94825279"],"members":[]}}'
  recorded_at: Sun, 19 May 2019 14:54:09 GMT
recorded_with: VCR 4.0.0
