---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/481179005eb95329728d52.65842327
    body:
      encoding: UTF-8
      string: '{"name":"Restored and updated"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"481179005eb95329728d52.65842327","project_type":"localization_files","name":"Restored
        and updated","description":"Description Phoenix","created_at":"2020-05-11
        13:29:13 (Etc\/UTC)","created_at_timestamp":1589203753,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":true,"key_editing":true,"inline_machine_translations":true,"branching":true},"statistics":{"progress_total":0,"keys_total":0,"team":9,"base_words":0,"qa_issues_total":0,"qa_issues":{"not_reviewed":0,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0},"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":0},{"language_id":673,"language_iso":"f_over","progress":0,"words_to_do":0},{"language_id":1055,"language_iso":"en-us","progress":0,"words_to_do":0},{"language_id":764,"language_iso":"ca","progress":0,"words_to_do":0},{"language_id":934,"language_iso":"bm","progress":0,"words_to_do":0},{"language_id":803,"language_iso":"sq","progress":0,"words_to_do":0},{"language_id":731,"language_iso":"ar_001","progress":0,"words_to_do":0},{"language_id":1056,"language_iso":"es","progress":0,"words_to_do":0},{"language_id":737,"language_iso":"nl","progress":0,"words_to_do":0},{"language_id":10001,"language_iso":"custom_1","progress":0,"words_to_do":0}]}}'
  recorded_at: Mon, 11 May 2020 13:29:15 GMT
recorded_with: VCR 5.1.0
