---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/snapshots/27881
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"399244385c0e9d07374685.57781732","name":"demo phoenix
        copy","description":"","created_at":"2018-12-10 17:06:15 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"statistics":{"progress":0,"keys":0,"team":2,"base_words":0,"qa_issues":0,"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":0},{"language_id":673,"language_iso":"f_over","progress":0,"words_to_do":0}]}}'
  recorded_at: Mon, 10 Dec 2018 17:06:15 GMT
recorded_with: VCR 4.0.0
