---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/tasks/11925
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","task":{"task_id":11925,"title":"Demo
        review","can_be_parent":true,"task_type":"review","parent_task_id":null,"closing_tags":[],"description":"","status":"in
        progress","progress":1,"due_date":null,"due_date_timestamp":null,"keys_count":16,"words_count":275,"created_at":"2019-05-13
        16:15:26 (Etc\/UTC)","created_at_timestamp":1557764126,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","languages":[{"language_iso":"sq","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"}],"groups":[],"keys":[15519786,15571975,15571976,15814906,20822936,20945747,20988544,20988547,20988554,20988567,20988568,20988569,20988570,20988571,20988596,21717815],"status":"created","progress":0,"initial_tm_leverage":[],"keys_count":16,"words_count":37,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null},{"language_iso":"ar_001","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"},{"user_id":33599,"email":"twilight_church@list.ru","fullname":"Joe"}],"groups":[],"keys":[15519786,15571975,15571976,15814906,20822936,20945747,20988544,20988547,20988567,20988568,20988569,20988570,20988571,20988596,21717815],"status":"created","progress":0,"initial_tm_leverage":[],"keys_count":15,"words_count":36,"completed_at":null,"completed_at_timestamp":null,"completed_by"[...]
