---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/tasks/11925
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","task":{"task_id":11925,"title":"node
        updated","can_be_parent":false,"task_type":"review","parent_task_id":null,"closing_tags":[],"description":"","status":"completed","progress":0,"due_date":null,"due_date_timestamp":null,"keys_count":16,"words_count":275,"created_at":"2019-05-13
        16:15:26 (Etc\/UTC)","created_at_timestamp":1557764126,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","languages":[{"language_iso":"sq","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"}],"groups":[],"keys":[],"status":"created","progress":0,"initial_tm_leverage":{"0%+":0,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":16,"words_count":37,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null},{"language_iso":"ar_001","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"},{"user_id":33599,"email":"twilight_church@list.ru","fullname":"Joe"}],"groups":[],"keys":[],"status":"created","progress":0,"initial_tm_leverage":{"0%+":0,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":15,"words_count":36,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null},{"language_iso":"bm","users":[{"user_id":20181,"email":"bo[...]
