---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/teams?limit=1&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '2'
      x-pagination-page-count:
      - '2'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"teams":[{"team_id":176692,"name":"Ilya''s Team","plan":"Trial","created_at":"2018-08-21
        15:35:25 (Etc\/UTC)","created_at_timestamp":1534865725,"quota_usage":{"users":9,"keys":71,"projects":10,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}}]}'
  recorded_at: Fri, 17 May 2019 17:22:35 GMT
recorded_with: VCR 4.0.0
