---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/teams/176692/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '4'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"team_users":[{"user_id":25953,"email":"rspec@test.com","fullname":"Rspec
        test","created_at":"2018-12-07 18:21:24 (Etc\/UTC)","role":"member"},{"user_id":25753,"email":"test2@example.com","fullname":"Unnamed","created_at":"2018-12-04
        18:13:19 (Etc\/UTC)","role":"member"},{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya","created_at":"2018-08-21
        17:35:25 (Etc\/UTC)","role":"owner"},{"user_id":5870,"email":"test@example.com","fullname":"John
        Doe","created_at":"2017-06-09 13:56:00 (Etc\/UTC)","role":"member"}]}'
  recorded_at: Mon, 10 Dec 2018 17:50:08 GMT
recorded_with: VCR 4.0.0
