---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/teams?limit=1&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '1'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '1'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"teams":[{"team_id":176692,"name":"Ilya''s Team","plan":"Trial","created_at":"2018-08-21
        17:35:25 (Etc\/UTC)","quota_usage":{"users":4,"keys":25,"projects":5,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}}]}'
  recorded_at: Sun, 09 Dec 2018 17:46:44 GMT
recorded_with: VCR 4.0.0
