---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/teams/176692/users/20181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"team_user":{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B","created_at":"2018-08-21 15:35:25 (Etc\/UTC)","created_at_timestamp":1534865725,"role":"owner"}}'
  recorded_at: Fri, 17 May 2019 17:26:14 GMT
recorded_with: VCR 4.0.0
