---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/translations/304581218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","translation":{"translation_id":304581218,"key_id":44596059,"language_iso":"ru","translation":"\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-05-15
        10:44:42 (Etc\/UTC)","modified_at_timestamp":1589539482,"is_reviewed":false,"reviewed_by":0,"is_unverified":false,"is_fuzzy":false,"words":1,"custom_translation_statuses":[],"task_id":null}}'
  recorded_at: Wed, 28 Apr 2021 12:01:27 GMT
recorded_with: VCR 6.0.0
