---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/translations/80015147
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","translation":{"translation_id":80015147,"key_id":15571975,"language_iso":"en","translation":"RSpec
        is a testing suite","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-03-26
        16:41:31 (Etc\/UTC)","modified_at_timestamp":1553618491,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":5}}'
  recorded_at: Fri, 17 May 2019 17:28:52 GMT
recorded_with: VCR 4.0.0
