---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/translations?disable_references=0&filter_is_reviewed=0&limit=4&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '187'
      x-pagination-page-count:
      - '47'
      x-pagination-limit:
      - '4'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","translations":[{"translation_id":79607647,"key_id":15519786,"language_iso":"ru","translation":"\u0415\u0449\u0451
        \u043e\u0434\u0438\u043d \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439
        \u043a\u043b\u044e\u0447","modified_by":33599,"modified_by_email":"twilight_church@list.ru","modified_at":"2019-05-13
        16:13:34 (Etc\/UTC)","modified_at_timestamp":1557764014,"is_reviewed":true,"reviewed_by":33599,"is_fuzzy":false,"words":4},{"translation_id":80015148,"key_id":15571975,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-10
        17:35:35 (Etc\/UTC)","modified_at_timestamp":1544463335,"is_reviewed":true,"reviewed_by":33599,"is_fuzzy":true,"words":0},{"translation_id":80015151,"key_id":15571976,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-10
        17:36:41 (Etc\/UTC)","modified_at_timestamp":1544463401,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":0},{"translation_id":82070311,"key_id":15814906,"language_iso":"ru","translation":"\u0444\u0443\u043d\u043a\u0446\u0438\u044f
        \u043e\u0431\u0440\u0430\u0442\u043d\u043e\u0433\u043e \u0432\u044b\u0437\u043e\u0432\u0430","modified_by":33599,"modified_by_email":"twilight_church@list.ru","modified_at":"2019-05-13
        16:09:17 (Etc\/UTC)","modified_at_timestamp":1557763757,"is_reviewed":true,"reviewed_by":33599,"is_fuzzy":false,"words":3}]}'
  recorded_at: Fri, 17 May 2019 16:55:02 GMT
recorded_with: VCR 4.0.0
