---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/translations?disable_references=0&filter_is_reviewed=0&limit=4&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '187'
      x-pagination-page-count:
      - '47'
      x-pagination-limit:
      - '4'
      x-pagination-page:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","translations":[{"translation_id":114304556,"key_id":20988547,"language_iso":"ru","translation":"\u042f
        \u0437\u043d\u0430\u044e JS!","modified_by":33599,"modified_by_email":"twilight_church@list.ru","modified_at":"2019-05-13
        16:08:01 (Etc\/UTC)","modified_at_timestamp":1557763681,"is_reviewed":true,"reviewed_by":33599,"is_fuzzy":false,"words":3},{"translation_id":114304604,"key_id":20988554,"language_iso":"ru","translation":"\u0414\u043e\u0431\u0440\u043e
        \u043f\u043e\u0436\u0430\u043b\u043e\u0432\u0430\u0442\u044c, [%1$s:username]!","modified_by":33599,"modified_by_email":"twilight_church@list.ru","modified_at":"2019-05-13
        16:00:41 (Etc\/UTC)","modified_at_timestamp":1557763241,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":2},{"translation_id":114306163,"key_id":20988567,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-04-16
        12:08:50 (Etc\/UTC)","modified_at_timestamp":1555416530,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":114306173,"key_id":20988568,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-04-16
        12:08:56 (Etc\/UTC)","modified_at_timestamp":1555416536,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0}]}'
  recorded_at: Fri, 17 May 2019 16:53:56 GMT
recorded_with: VCR 4.0.0
