---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/teams/176692/groups/689
    body:
      encoding: UTF-8
      string: '{"name":"another group updated","is_admin":true,"is_reviewer":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":689,"name":"another group updated","permissions":{"is_admin":true,"is_reviewer":true,"admin_rights":[],"languages":[]},"created_at":"2019-05-19
        13:14:25 (Etc\/UTC)","created_at_timestamp":1558271665,"team_id":176692,"projects":["605317925c13e4ecb36a79.94825279"],"members":[35554]}}'
  recorded_at: Sun, 19 May 2019 15:00:23 GMT
recorded_with: VCR 4.0.0
