---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/tasks/4387
    body:
      encoding: UTF-8
      string: '{"description":"desc here","auto_close_task":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","task":{"task_id":4387,"title":"another
        rspec key","can_be_parent":true,"task_type":"translation","parent_task_id":null,"closing_tags":[],"description":"desc
        here","status":"created","progress":0,"due_date":null,"keys_count":1,"words_count":0,"created_at":"2018-12-10
        18:37:02 (Etc\/UTC)","created_by":20181,"created_by_email":"bodrovis@protonmail.com","languages":[{"language_iso":"ru","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya"}],"keys":[15571976],"status":"created","progress":0,"initial_tm_leverage":[],"keys_count":1,"words_count":0,"completed_at":null,"completed_by":null,"completed_by_email":null}],"auto_close_languages":true,"auto_close_task":true,"completed_at":null,"completed_by":null,"completed_by_email":null}}'
  recorded_at: Mon, 10 Dec 2018 17:41:12 GMT
recorded_with: VCR 4.0.0
