---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/contributors/25953
    body:
      encoding: UTF-8
      string: '{"languages":[{"lang_iso":"en"}]}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","contributor":{"user_id":25953,"email":"rspec@test.com","fullname":"Rspec
        test","created_at":"2018-12-07 18:21:24 (Etc\/UTC)","is_admin":false,"is_reviewer":false,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":false}],"admin_rights":[]}}'
  recorded_at: Fri, 07 Dec 2018 17:24:45 GMT
recorded_with: VCR 4.0.0
