---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/branches/41306
    body:
      encoding: UTF-8
      string: '{"name":"updated-ruby-second-branch","_initial_path":"projects/803826145ba90b42d5d860.46800099/branches/41306"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":{"branch_id":41306,"name":"updated-ruby-second-branch","created_at":"2019-10-30
        14:47:07 (Etc\/UTC)","created_at_timestamp":1572446827,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}}'
  recorded_at: Wed, 30 Oct 2019 14:47:01 GMT
recorded_with: VCR 5.0.0
