---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/129358815/segments/en/4
    body:
      encoding: UTF-8
      string: '{"value":"Chain Updated","is_fuzzy":true}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":129358815,"language_iso":"en","segment":{"segment_number":4,"language_iso":"en","value":"Chain
        Updated","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-11-22
        17:04:42 (Etc\/UTC)","modified_at_timestamp":1637600682,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":2,"custom_translation_statuses":[]}}'
  recorded_at: Mon, 22 Nov 2021 17:04:42 GMT
recorded_with: VCR 6.0.0
