---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/screenshots/117310
    body:
      encoding: UTF-8
      string: '{"title":"updated!"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","screenshot":{"screenshot_id":117310,"title":"updated!","description":"","screenshot_tags":[],"url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/screenshots\/803826145ba90b42d5d860.46800099\/88239e72fb0b79f59001e14f66844bae5e8c64ef.jpg","key_ids":[],"width":125,"height":32}}'
  recorded_at: Fri, 14 Dec 2018 16:57:46 GMT
recorded_with: VCR 4.0.0
