---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/contributors/26265
    body:
      encoding: UTF-8
      string: '{"fullname":"updated!"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","contributor":{"user_id":26265,"email":"demo@test.com","fullname":"updated!","created_at":"2018-12-13
        17:22:21 (Etc\/UTC)","is_admin":false,"is_reviewer":false,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":false}],"admin_rights":[]}}'
  recorded_at: Thu, 13 Dec 2018 17:22:35 GMT
recorded_with: VCR 4.0.0
