---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/translations/80015147
    body:
      encoding: UTF-8
      string: '{"translation":"rspec trans","is_reviewed":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","translation":{"translation_id":80015147,"key_id":15571975,"language_iso":"en","translation":"rspec
        trans","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-10
        19:04:08 (Etc\/UTC)","is_reviewed":true,"reviewed_by":0,"is_fuzzy":false,"words":2}}'
  recorded_at: Mon, 10 Dec 2018 18:04:08 GMT
recorded_with: VCR 4.0.0
