---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/teams/176692/users/25953
    body:
      encoding: UTF-8
      string: '{"role":"admin"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"team_user":{"user_id":25953,"email":"rspec@test.com","fullname":"Rspec
        test","created_at":"2018-12-07 18:21:24 (Etc\/UTC)","role":"admin"}}'
  recorded_at: Mon, 10 Dec 2018 17:55:35 GMT
recorded_with: VCR 4.0.0
