---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/teams/176692/groups/690
    body:
      encoding: UTF-8
      string: '{"name":"updated rspec","is_admin":true,"is_reviewer":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"team_id":176692,"group":{"group_id":690,"name":"updated rspec","permissions":{"is_admin":true,"is_reviewer":true,"admin_rights":[],"languages":[]},"created_at":"2019-05-19
        13:21:20 (Etc\/UTC)","created_at_timestamp":1558272080,"team_id":176692,"projects":[],"members":[]}}'
  recorded_at: Sun, 19 May 2019 14:09:21 GMT
recorded_with: VCR 4.0.0
