---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/129358815/segments/en/4
    body:
      encoding: UTF-8
      string: '{"value":"Chain Updated","is_fuzzy":true}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
      x-lokalise-process-id:
      - 2187a6ed-e23d-4044-be2c-bc530eac660f
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":129358815,"language_iso":"en","segment":{"segment_number":4,"language_iso":"en","value":"Chain
        Updated","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-12-15
        17:25:00 (Etc\/UTC)","modified_at_timestamp":1639589100,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":2,"custom_translation_statuses":[]}}'
  recorded_at: Wed, 15 Dec 2021 17:25:01 GMT
recorded_with: VCR 6.0.0
