---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/branches/41302
    body:
      encoding: UTF-8
      string: '{"name":"updated-ruby-branch"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":{"branch_id":41302,"name":"updated-ruby-branch","created_at":"2019-10-30
        14:24:41 (Etc\/UTC)","created_at_timestamp":1572445481,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}}'
  recorded_at: Wed, 30 Oct 2019 14:42:18 GMT
recorded_with: VCR 5.0.0
