---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/keys/15814946
    body:
      encoding: UTF-8
      string: '{"key_name":"updated!"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","key":{"key_id":15814946,"created_at":"2018-12-14
        16:03:58 (Etc\/UTC)","key_name":{"ios":"updated!","android":"updated!","web":"updated!","other":"updated!"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["ios"],"tags":[],"comments":[],"screenshots":[],"translations":[{"translation_id":82070423,"key_id":15814946,"language_iso":"ru","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        16:03:58 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82070422,"key_id":15814946,"language_iso":"en","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        16:03:58 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0},{"translation_id":82070424,"key_id":15814946,"language_iso":"f_over","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2018-12-14
        16:03:58 (Etc\/UTC)","is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0}],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":0,"char_limit":0,"custom_attributes":""}}'
  recorded_at: Fri, 14 Dec 2018 16:04:58 GMT
recorded_with: VCR 4.0.0
