---
http_interactions:
- request:
    method: put
    uri: https://api.lokalise.com/api2/teams/273879/billing_details
    body:
      encoding: UTF-8
      string: '{"billing_email":"ruby_rspec@example.com","country_code":"LV","zip":"LV-1111","address1":"Addr
        line 1"}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, POST
      x-lokalise-process-id:
      - 1c44394f-82f1-407f-824a-776f8976f3bf
    body:
      encoding: ASCII-8BIT
      string: '{"company":"","address1":"Addr line 1","address2":"","city":"","zip":"LV-1111","phone":"","vatnumber":null,"country_code":"LV","billing_email":"ruby_rspec@example.com","state_code":""}'
  recorded_at: Wed, 15 Dec 2021 19:39:58 GMT
recorded_with: VCR 6.0.0
