---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/129358815/segments/en/3
    body:
      encoding: UTF-8
      string: '{"value":"Updated via API","is_reviewed":true}'
    headers:
      x-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":129358815,"language_iso":"en","segment":{"segment_number":3,"language_iso":"en","value":"Updated
        via API","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-11-22
        16:58:20 (Etc\/UTC)","modified_at_timestamp":1637600300,"is_reviewed":true,"reviewed_by":0,"is_fuzzy":false,"words":3,"custom_translation_statuses":[]}}'
  recorded_at: Mon, 22 Nov 2021 16:58:20 GMT
recorded_with: VCR 6.0.0
