---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/processes/fb59937f47be1999b3643a7022d17bd46d807fad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"fb59937f47be1999b3643a7022d17bd46d807fad","type":"file-import","status":"queued","message":"","created_by":"20181","created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-14
        10:18:03 (Etc\/UTC)","created_at_timestamp":1589451483,"url":"\/api2\/projects\/803826145ba90b42d5d860.46800099\/processes\/file-import\/fb59937f47be1999b3643a7022d17bd46d807fad"}}'
  recorded_at: Thu, 14 May 2020 10:23:40 GMT
recorded_with: VCR 5.1.0
