---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZnI6DQogIHRlc3Q6IHRyYW5zbGF0aW9u","filename":"rspec_async.yml","lang_iso":"ru","queue":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/803826145ba90b42d5d860.46800099/files/upload/6347ddfc2ed1bb855e670fd7ad16ce8552333af8"
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"6347ddfc2ed1bb855e670fd7ad16ce8552333af8","type":"file-import","status":"queued","message":"","created_by":"20181","created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-11
        11:45:31 (Etc\/UTC)","created_at_timestamp":1589197531,"url":"\/api2\/projects\/803826145ba90b42d5d860.46800099\/processes\/file-import\/6347ddfc2ed1bb855e670fd7ad16ce8552333af8"}}'
  recorded_at: Mon, 11 May 2020 11:45:31 GMT
recorded_with: VCR 5.1.0
