---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZnI6DQogIHRlc3Q6IHRyYW5zbGF0aW9u","filename":"rspec_async.yml","lang_iso":"ru","queue":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/803826145ba90b42d5d860.46800099/processes/ff1876382b7ba81f2bb465da8f030196ec401fa6"
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"ff1876382b7ba81f2bb465da8f030196ec401fa6","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-15
        10:38:35 (Etc\/UTC)","created_at_timestamp":1589539115}}'
  recorded_at: Fri, 15 May 2020 10:38:28 GMT
recorded_with: VCR 5.1.0
