---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZnI6DQogIHRlc3Q6IHRyYW5zbGF0aW9u","filename":"rspec_async.yml","lang_iso":"ru"}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/803826145ba90b42d5d860.46800099/processes/85c42bf5eff44648ca2f01f9db67b7d306a2f282"
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"85c42bf5eff44648ca2f01f9db67b7d306a2f282","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-07-02
        15:17:19 (Etc\/UTC)","created_at_timestamp":1593703039}}'
  recorded_at: Thu, 02 Jul 2020 15:17:18 GMT
recorded_with: VCR 6.0.0
