---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/files/upload
    body:
      encoding: UTF-8
      string: '{"data":"ZnI6DQogIHRlc3Q6IHRyYW5zbGF0aW9u","filename":"rspec_async.yml","lang_iso":"ru","queue":true}'
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      content-type:
      - application/json
      location:
      - "/api2/projects/803826145ba90b42d5d860.46800099/files/upload/fb59937f47be1999b3643a7022d17bd46d807fad"
    body:
      encoding: UTF-8
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","process":{"process_id":"fb59937f47be1999b3643a7022d17bd46d807fad","type":"file-import","status":"queued","message":"","created_by":"20181","created_by_email":"bodrovis@protonmail.com","created_at":"2020-05-14
        10:18:03 (Etc\/UTC)","created_at_timestamp":1589451483,"url":"\/api2\/projects\/803826145ba90b42d5d860.46800099\/processes\/file-import\/fb59937f47be1999b3643a7022d17bd46d807fad"}}'
  recorded_at: Thu, 14 May 2020 10:17:58 GMT
recorded_with: VCR 5.1.0
