---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-pagination-total-count:
      - '3'
      x-pagination-page-count:
      - '1'
      x-pagination-limit:
      - '100'
      x-pagination-page:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","webhooks":[{"webhook_id":"795565582e5ab15a59bb68156c7e2e9eaa1e8d1a","url":"https:\/\/serios.webhook","secret":"5efb67362d6408c43e2cc541729e07925cf636d1","events":["project.imported","project.key.added","project.keys.deleted","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["nl"]}]},{"webhook_id":"c7eb7e6e3c2fb2b26d0b64d0de083a5a71675b3d","url":"https:\/\/canihaz.hook","secret":"a62450cd9eeca8dfc84f3c0cf9b7a6a370267d6f","events":["project.snapshot","project.imported","project.exported","project.languages.added","project.language.removed","project.language.settings_changed","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["sq","ar_001","bm","ca","custom_1","nl","en","en-us","f_over","ru","es"]}]},{"webhook_id":"b1a98c63f7e8a03b1c7aadc0a8171d637b7a9e02","url":"http:\/\/node.hook","secret":"bd21b9b2983f3d7d2c2297294c90bb742f6cccae","events":["project.exported"],"event_lang_map":[]}]}'
  recorded_at: Wed, 21 Aug 2019 12:03:23 GMT
recorded_with: VCR 5.0.0
