---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/webhooks/795565582e5ab15a59bb68156c7e2e9eaa1e8d1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","webhook":{"webhook_id":"795565582e5ab15a59bb68156c7e2e9eaa1e8d1a","url":"https:\/\/serios.webhook","secret":"2007af3a30e5028d321db292608172fa06666662","events":["project.imported","project.key.added","project.keys.deleted","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["nl"]}]}}'
  recorded_at: Fri, 28 Feb 2020 13:18:03 GMT
recorded_with: VCR 5.1.0
