---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.co/api2/projects/803826145ba90b42d5d860.46800099/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-api-token:
      - "<LOKALISE_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"803826145ba90b42d5d860.46800099","webhooks":[{"webhook_id":"795565582e5ab15a59bb68156c7e2e9eaa1e8d1a","url":"https:\/\/serios.webhook","secret":"5efb67362d6408c43e2cc541729e07925cf636d1","events":["project.imported","project.key.added","project.keys.deleted","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["nl"]}]},{"webhook_id":"c7eb7e6e3c2fb2b26d0b64d0de083a5a71675b3d","url":"https:\/\/canihaz.hook","secret":"a62450cd9eeca8dfc84f3c0cf9b7a6a370267d6f","events":["project.snapshot","project.imported","project.exported","project.languages.added","project.language.removed","project.language.settings_changed","project.translation.updated"],"event_lang_map":[{"event":"project.translation.updated","lang_iso_codes":["sq","ar_001","bm","ca","custom_1","nl","en","en-us","f_over","ru","es"]}]}]}'
  recorded_at: Mon, 19 Aug 2019 19:20:55 GMT
recorded_with: VCR 5.0.0
