---
http_interactions:
- request:
    method: post
    uri: https://api.lokalise.com/api2/projects
    body:
      encoding: UTF-8
      string: '{"name":"OAuth 2 project","description":"Via OAuth 2"}'
    headers:
      Authorization:
      - Bearer <OAUTH2_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET
      x-lokalise-process-id:
      - 562cfd6a-3b0b-42af-9e14-5c017575941c
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"1378497161f993455568a5.67518839","project_type":"localization_files","name":"OAuth
        2 project","description":"Via OAuth 2","created_at":"2022-02-01 20:08:37 (Etc\/UTC)","created_at_timestamp":1643746117,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":false,"segmentation":false,"custom_translation_statuses":false,"custom_translation_statuses_allow_multiple":false},"statistics":{"progress_total":0,"keys_total":0,"team":2,"base_words":0,"qa_issues_total":0,"qa_issues":{"not_reviewed":0,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0,"unbalanced_brackets":0},"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0}]}}'
  recorded_at: Tue, 01 Feb 2022 20:08:37 GMT
recorded_with: VCR 6.0.0
