---
http_interactions:
- request:
    method: post
    uri: https://app.lokalise.com/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<OAUTH2_CLIENT_ID>","client_secret":"<OAUTH2_CLIENT_SECRET>","refresh_token":"incorrect_token","grant_type":"refresh_token"}'
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-lokalise-process-id:
      - b8aa2bf5-fbb0-409c-acc1-5e97dc56b869
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_request","error_description":"Invalid request parameters","error_uri":""}'
  recorded_at: Tue, 01 Feb 2022 20:19:13 GMT
recorded_with: VCR 6.0.0
