---
http_interactions:
- request:
    method: post
    uri: https://app.lokalise.com/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<OAUTH2_CLIENT_ID>","client_secret":"<OAUTH2_CLIENT_SECRET>","refresh_token":"<OAUTH2_REFRESH_TOKEN>","grant_type":"refresh_token"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-lokalise-process-id:
      - fbc7b540-024d-40b8-98eb-3125f34d61a0
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"fake","expires_in":3600,"scope":"write_projects
        write_team_groups write_tasks","token_type":"Bearer"}'
  recorded_at: Thu, 03 Feb 2022 17:48:33 GMT
recorded_with: VCR 6.0.0
