---
http_interactions:
- request:
    method: post
    uri: https://app.lokalise.com/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<OAUTH2_CLIENT_ID>","client_secret":"<OAUTH2_CLIENT_SECRET>","code":"<OAUTH2_CODE>","grant_type":"authorization_code"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-lokalise-process-id:
      - 21db3bfd-a51f-43e6-bb83-b4537c3c6deb
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"123fake","refresh_token":"345refresh","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Tue, 01 Feb 2022 20:08:06 GMT
recorded_with: VCR 6.0.0
