---
http_interactions:
- request:
    method: post
    uri: https://app.lokalise.com/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<OAUTH2_CLIENT_ID>","client_secret":"<OAUTH2_CLIENT_SECRET>","code":"incorrect_code","grant_type":"authorization_code"}'
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-lokalise-process-id:
      - 3741669b-0219-4e39-a164-2943bcb99904
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_request","error_description":"code: Code must be
        40 characters long","error_uri":""}'
  recorded_at: Tue, 01 Feb 2022 20:16:45 GMT
recorded_with: VCR 6.0.0
