name: CI

on:
  pull_request:

  push:
    branches: [ master ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby:
          - '3.0'
          - 3.1
          - 3.2
          - 3.3
          - 3.4
          - '3.5.0-preview1'
          - '4.0.0-preview2'
    runs-on: ${{ matrix.os }}
    env:
      LOKALISE_API_TOKEN: 123abc
      OAUTH2_CLIENT_ID: fake
      OAUTH2_CLIENT_SECRET: fake
      OAUTH2_TOKEN: fake
      OAUTH2_REFRESH_TOKEN: fake
      OAUTH2_CODE: fake
      OAUTH2_TOKEN_REFRESHED: fake
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake spec
    - name: Coveralls
      uses: coverallsapp/github-action@v2